<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kaito-website/menu</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="main-header">
      <h1>menu</h1>
      <div class="main-return">
        <a href="/">戻る</a>
      </div>
    </div>
    <div class="main-menu">
      <h1>これは自分が普段使うものをまとめたものです。</h1>
      <div class="main ab">
        <a class="youtube" href="/youtube">
            <span class="fa fa-youtube"></span>
            youtube
        </a>
      </div>
      <div class="main abc">
        <a class="use-app" href="/use-app">
          <span class="fa fa-gamepad"></span>
          app
        </a>
      </div>
      <div class="main abcd">
        <a class="github" href="https://github.com/">
          <span class="fa fa-laptop"></span>
          github
        </a>
      </div>
      <div class="main abcde">
        <a class="twitter" href="https://twitter.com/home">
          <span class="fa fa-twitter"></span>
          twitter
        </a>
      </div>
      <div class="main abcdef">
        <a class="facebook" href="https://www.facebook.com/">
          <span class="fa fa-facebook"></span>
          facebook
        </a>
      </div>
      <div class="main abcdefg">
        <a class="memo" href="/memo">
          <span class="fa fa-comment"></span>
          MEMO
        </a>
      </div>
    </div>
  </body>
</html>